<h2>{{ city.name }}</h2>
<button ng-click="stop();">Stop</button>
<ul>
	<li>Population: {{ city.population.count }} / {{ city.population.capacity }}
	<li>Coin: {{ city.coin.count }} (net/hr: {{ city.coin.net * 3600 }})
	<li>Food: {{ city.food.count }} (net/hr: {{ city.food.net * 3600 }}) <button ng-click="sellFood(5);">Sell 5</button>
</ul>
<div>
	<h2>Houses</h2>
	<p>{{ city.buildings.houses.length }} <button ng-click="buy('house',0);">Buy house</button>
	<ul>
		<li ng-repeat="house in city.buildings.houses | orderBy: 'level'">{{ houseData.levels[house.level].name }} <button ng-click="buy('house',house.level + 1);">Upgrade</button></li>
	</ul>
</div>
<div>
	<h2>Farms</h2>
	<p>{{ city.buildings.farms.length }} <button ng-click="buy('farm',0);">Buy farm</button>
	<ul>
		<li ng-repeat="farm in city.buildings.farms | orderBy: 'level'">{{ farmData.levels[farm.level].name }} {{ farm.level }}<button ng-click="buy('farm',farm.level + 1);">Upgrade</button></li>
	</ul>
</div>
<div>
	{{ city }}
</div>
