<h2>{{ city.name }}</h2>
<button ng-click="stop();">Stop</button>
<ul>
	<li>Population: {{ city.population.count }} / {{ city.population.capacity }}
	<li>Coin: {{ city.coin.count }} (net/tick: {{ city.coin.net }})
	<li>Food: {{ city.food.count }} (net/tick: {{ city.food.net }})
</ul>
<div>
	<h2>Houses</h2>
	<p>{{ city.buildings.houses.length }} <button ng-click="buy('house');">Buy house</button>
	<ul>
		<li ng-repeat="house in city.buildings.houses">{{ houseData.levels[house.level].name }} <button ng-click="upgrade('house', house._id)">Upgrade</button></li>
	</ul>
</div>
<div>
	<h2>Farms</h2>
	<p>{{ city.buildings.farms.length }} <button ng-click="buy('farm');">Buy farm</button>
	<ul>
		<li ng-repeat="farm in city.buildings.farms">{{ farmData.levels[farm.level].name }} <button ng-click="upgrade('farm', farm._id)">Upgrade</button></li>
	</ul>
</div>
<div>
	{{ city }}
</div>
