<h2>{{ city.name }}</h2>
<button ng-click="stop();">Stop</button>
<ul>
	<li>Population: {{ city.population.count }} / {{ city.population.capacity }}
	<li>Coin: {{ city.coin.count }} (net/hr: {{ city.coin.net * 3600 }})
	<li>Food: {{ city.food.count }} (net/hr: {{ city.food.net * 3600 }}) <button ng-click="sellFood(5);">Sell 5</button> <button ng-click="sellFood(50);">Sell 50</button>
</ul>
<div>
	<h2>Houses</h2>
	<p>{{ city.buildings.houses.length }} <button ng-click="build('house',0);">Build hut</button> (Cost: {{ houseData.levels[0].cost }})
	<ul>
		<li ng-repeat="house in city.buildings.houses | orderBy: 'level'">{{ houseData.levels[house.level].name }} <button ng-click="build('house',house.level + 1);">Upgrade</button> (Cost: {{ houseData.levels[house.level + 1].cost }})</li>
	</ul>
</div>
<div>
	<h2>Farms</h2>
	<p>{{ city.buildings.farms.length }} <button ng-click="build('farm',0);">Plant garden</button> (Cost: {{ farmData.levels[0].cost }})
	<ul>
		<li ng-repeat="farm in city.buildings.farms | orderBy: 'level'">{{ farmData.levels[farm.level].name }} <button ng-click="build('farm',farm.level + 1);">Upgrade</button> (Cost: {{ farmData.levels[farm.level + 1].cost }})</li>
	</ul>
</div>
<div>
	{{ city }}
</div>
